.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
    transition: .1s;
}

.about__box:hover {
    transform: scale(1.025);
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-semibold);
}

.about__subtitle {
    font-size: var(--smaller-font-size);
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

.about__button__icon {
    font-size: 1.3rem;
    margin-left: 3px;
}

/* BREAK POINTS */
@media screen and (max-width: 992px) {  
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
        margin-right: 30px;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .about__container {
        display: block;
        margin: 0 auto;
    }

    .about__data {
        text-align: center;
        margin: 0;
    }

    .about__img {
        display: block;
        margin: 0 auto 1rem auto;
    }

    .about__info.grid {
        display: none;
    }
}

@media screen and (max-width: 350px) {
   .about__info {
    grid-template-columns: repeat(2, 1fr);
   }
}